apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: azure-devops-ocp-agent-deployment-template
 
parameters:
 
- name: NAMESPACE
  required: true
 
- name: IMAGE
  value: "azure-devops-ocp-agent:latest"
 
- name: CPU_LIMIT
  value: "500m"
 
- name: MEMORY_LIMIT
  value: "500Mi"
 
- name: AZP_URL
  required: true
 
- name: AZP_POOL
  required: true
 
- name: AZP_TOKEN
  required: true
 
- name: AZP_AGENT_NAME
  value: "my-ocp-agent"
 
- name: AZP_AGENT_SA
  value: "azure-agent-sa"
 
- name: CA_CONFIGMAP_NAME
  value: "custom-ca"
 
objects:
 
- apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: "${AZP_AGENT_SA}"
    namespace: "${NAMESPACE}"
 
- apiVersion: v1
  kind: Secret
  metadata:
    name: azdevops-secret
    namespace: "${NAMESPACE}"
  stringData:
    AZP_TOKEN: ${AZP_TOKEN}
 
- apiVersion: v1
  kind: ConfigMap
  metadata:
    name: azdevops-cm
    namespace: "${NAMESPACE}"
  data:
    AZP_URL: ${AZP_URL}
    AZP_POOL: ${AZP_POOL}
    AZP_AGENT_NAME: ${AZP_AGENT_NAME}
 
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: azdevops-deployment
    namespace: "${NAMESPACE}"
    labels:
      app: azdevops-agent
  spec:
    replicas: 1
    selector:
      matchLabels:
        app: azdevops-agent
    template:
      metadata:
        labels:
          app: azdevops-agent
      spec:
        serviceAccountName: "${AZP_AGENT_SA}"
 
        volumes:
        - name: custom-ca
          configMap:
            name: "${CA_CONFIGMAP_NAME}"
 
        containers:
        - name: azure-devops-ocp-agent
          image: ${IMAGE}
          imagePullPolicy: Always
 
          volumeMounts:
          - name: custom-ca
            mountPath: /usr/local/share/ca-certificates/custom-ca.crt
            subPath: custom-ca.crt
            readOnly: true
 
          env:
          - name: AZP_AGENT_NAME
            valueFrom:
              configMapKeyRef:
                name: azdevops-cm
                key: AZP_AGENT_NAME
          - name: AZP_URL
            valueFrom:
              configMapKeyRef:
                name: azdevops-cm
                key: AZP_URL
          - name: AZP_POOL
            valueFrom:
              configMapKeyRef:
                name: azdevops-cm
                key: AZP_POOL
          - name: AZP_TOKEN
            valueFrom:
              secretKeyRef:
                name: azdevops-secret
                key: AZP_TOKEN
 
          resources:
            limits:
              cpu: ${CPU_LIMIT}
              memory: ${MEMORY_LIMIT}
